In [2]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({"test":[50,100,200,50]})
df

   test
0    50
1   100
2   200
3    50

In [7]:
df.iloc.pct_change()*100

    test
0    NaN
1  100.0
2  100.0
3  -75.0

In [11]:
df = pd.read_csv("bin.csv",index_col=0)
df

,Afghanistan,Albania,Algeria,Andorra,Angola,Antarctica,Antigua and Barbuda,Argentina,Armenia,Australia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Winter Olympics 2022,Yemen,Zambia,Zimbabwe
Date,,,,,,,,,,,,,,,,,,,,,
2021-01-05,59939,131185,122311,13232,26815,0,1232,2993865,216596,29824,...,200908,91250,4,198865,2942,296462,0,6325,91670,38260
2021-02-05,60122,131238,122522,13282,26993,0,1232,3005259,216863,29838,...,202492,91643,4,200067,2962,297638,0,6341,91693,38281
2021-03-05,60300,131276,122717,13295,27133,0,1232,3021179,217008,29850,...,204120,92006,4,200931,2985,298203,0,6363,91722,38293
2021-04-05,60563,131327,122999,13316,27284,0,1232,3047417,217407,29865,...,206946,92320,4,201807,2995,298921,0,6390,91804,38327
2021-05-05,60797,131419,123272,13340,27529,0,1232,3071496,217900,29884,...,209867,92724,4,202578,3030,299736,0,6414,91849,38357
2021-06-05,61162,131510,123473,13363,27921,0,1232,3095582,218325,29893,...,213449,93176,4,204057,3090,300387,0,6426,91946,38398
2021-07-05,61455,131577,123692,13390,28201,0,1232,3118134,218681,29906,...,216146,93597,4,205181,3137,300946,0,6446,92004,38403
2021-08-05,61755,131666,123900,13406,28477,0,1232,3136158,219092,29922,...,218800,93978,4,206549,3245,301437,0,6462,92057,38414
2021-09-05,61842,131723,124104,13423,28740,0,1231,3147740,219270,29931,...,220683,94397,4,207870,3412,301751,0,6482,92092,38419
2021-10-05,62063,131753,124288,13429,28875,0,1237,3165121,219353,29938,...,222870,94759,4,209162,3489,302249,0,6485,92112,38433
2021-11-05,62403,131803,124483,13447,29146,0,1238,3191097,219596,29946,...,225847,95072,4,210116,3571,302777,0,6492,92152,38448
2021-12-05,62718,131845,124682,13470,29405,0,1240,3215572,219950,29955,...,228102,95467,4,210948,3658,303270,0,6498,92211,38466
2021-05-13,63045,131890,124889,13470,29695,0,1240,3242103,220217,29957,...,231901,95826,4,211838,3740,303270,0,6507,92262,38491
2021-05-14,63355,131939,125059,13510,30030,0,1240,3269466,220447,29964,...,235206,96117,4,212998,3816,303270,0,6523,92356,38535
2021-05-15,63412,131978,125194,13510,30354,0,1241,3290935,220729,29975,...,238079,96368,4,212998,4112,303658,0,6538,92409,38554
2021-05-16,63484,132015,125311,13510,30637,0,1241,3307285,220860,29978,...,240512,96670,4,215301,4212,303827,0,6543,92436,38560
2021-05-17,63598,132032,125485,13555,30787,0,1251,3335965,220927,29983,...,242906,96893,4,216415,4359,304074,0,6568,92460,38572
2021-05-18,63819,132071,125693,13569,31045,0,1251,3371508,221139,29992,...,246026,97068,4,217603,4512,304074,0,6586,92520,38595
2021-05-19,64122,132095,125896,13569,31438,0,1252,3411160,221368,29995,...,249365,97280,4,218814,4720,304532,0,6593,92630,38612
2021-05-20,64575,132118,126156,13569,31661,0,1255,3447044,221559,29999,...,253941,97543,4,219864,4809,304532,0,6613,92754,38635

In [12]:
growth = df.pct_change() * 100

In [13]:
growth

,Afghanistan,Albania,Algeria,Andorra,Angola,Antarctica,Antigua and Barbuda,Argentina,Armenia,Australia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Winter Olympics 2022,Yemen,Zambia,Zimbabwe
Date,,,,,,,,,,,,,,,,,,,,,
2021-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-05,0.305310,0.040401,0.172511,0.377872,0.663808,NaN,0.000000,0.380578,0.123271,0.046942,...,0.788421,0.430685,0.0,0.604430,0.679810,0.396678,NaN,0.252964,0.025090,0.054888
2021-03-05,0.296065,0.028955,0.159155,0.097877,0.518653,NaN,0.000000,0.529738,0.066862,0.040217,...,0.803982,0.396102,0.0,0.431855,0.776502,0.189828,NaN,0.346948,0.031627,0.031347
2021-04-05,0.436153,0.038849,0.229797,0.157954,0.556518,NaN,0.000000,0.868469,0.183864,0.050251,...,1.384480,0.341282,0.0,0.435971,0.335008,0.240776,NaN,0.424328,0.089401,0.088789
2021-05-05,0.386375,0.070054,0.221953,0.180234,0.897962,NaN,0.000000,0.790145,0.226764,0.063620,...,1.411479,0.437608,0.0,0.382048,1.168614,0.272647,NaN,0.375587,0.049017,0.078274
2021-06-05,0.600359,0.069244,0.163054,0.172414,1.423953,NaN,0.000000,0.784178,0.195044,0.030116,...,1.706795,0.487468,0.0,0.730089,1.980198,0.217191,NaN,0.187091,0.105608,0.106891
2021-07-05,0.479056,0.050947,0.177367,0.202050,1.002829,NaN,0.000000,0.728522,0.163060,0.043488,...,1.263534,0.451833,0.0,0.550826,1.521036,0.186093,NaN,0.311236,0.063081,0.013022
2021-08-05,0.488162,0.067641,0.168160,0.119492,0.978689,NaN,0.000000,0.578038,0.187945,0.053501,...,1.227874,0.407064,0.0,0.666728,3.442780,0.163152,NaN,0.248216,0.057606,0.028644
2021-09-05,0.140879,0.043291,0.164649,0.126809,0.923552,NaN,-0.081169,0.369305,0.081244,0.030078,...,0.860603,0.445849,0.0,0.639558,5.146379,0.104168,NaN,0.309502,0.038020,0.013016
2021-10-05,0.357362,0.022775,0.148263,0.044699,0.469729,NaN,0.487409,0.552174,0.037853,0.023387,...,0.991014,0.383487,0.0,0.621542,2.256741,0.165037,NaN,0.046282,0.021717,0.036440
2021-11-05,0.547830,0.037950,0.156894,0.134038,0.938528,NaN,0.080841,0.820695,0.110780,0.026722,...,1.335756,0.330312,0.0,0.456106,2.350244,0.174690,NaN,0.107941,0.043425,0.039029
2021-12-05,0.504783,0.031866,0.159861,0.171042,0.888630,NaN,0.161551,0.766978,0.161205,0.030054,...,0.998464,0.415475,0.0,0.395972,2.436292,0.162826,NaN,0.092421,0.064025,0.046816
2021-05-13,0.521381,0.034131,0.166022,0.000000,0.986227,NaN,0.000000,0.825079,0.121391,0.006677,...,1.665483,0.376046,0.0,0.421905,2.241662,0.000000,NaN,0.138504,0.055308,0.064992
2021-05-14,0.491712,0.037152,0.136121,0.296956,1.128136,NaN,0.000000,0.843989,0.104442,0.023367,...,1.425177,0.303675,0.0,0.547588,2.032086,0.000000,NaN,0.245889,0.101884,0.114312
2021-05-15,0.089969,0.029559,0.107949,0.000000,1.078921,NaN,0.080645,0.656652,0.127922,0.036711,...,1.221482,0.261140,0.0,0.000000,7.756813,0.127939,NaN,0.229956,0.057387,0.049306
2021-05-16,0.113543,0.028035,0.093455,0.000000,0.932332,NaN,0.000000,0.496819,0.059349,0.010008,...,1.021930,0.313382,0.0,1.081231,2.431907,0.055655,NaN,0.076476,0.029218,0.015563
2021-05-17,0.179573,0.012877,0.138855,0.333087,0.489604,NaN,0.805802,0.867177,0.030336,0.016679,...,0.995377,0.230682,0.0,0.517415,3.490028,0.081296,NaN,0.382088,0.025964,0.031120
2021-05-18,0.347495,0.029538,0.165757,0.103283,0.838016,NaN,0.000000,1.065449,0.095959,0.030017,...,1.284447,0.180612,0.0,0.548945,3.509979,0.000000,NaN,0.274056,0.064893,0.059629
2021-05-19,0.474780,0.018172,0.161505,0.000000,1.265904,NaN,0.079936,1.176091,0.103555,0.010003,...,1.357174,0.218404,0.0,0.556518,4.609929,0.150621,NaN,0.106286,0.118893,0.044047
2021-05-20,0.706466,0.017412,0.206520,0.000000,0.709333,NaN,0.239617,1.051959,0.086282,0.013336,...,1.835061,0.270354,0.0,0.479860,1.885593,0.000000,NaN,0.303352,0.133866,0.059567